.header {
    background:$dark-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;         //distributes the left over space bw the two things
    padding: $vs-size 0;
}
.header__title {
    color:white;
    text-decoration: none;
    h1 {
        margin:0
    }
}