.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $s-size;

    @media ( min-width : $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin-bottom: $vs-size;

    @media ( min-width : $desktop-breakpoint) {
        margin: 0 $vs-size 0 0; 
    }
}